{% extends 'base2.html' %}
{% block contents %}

<div class="container">
    <h1>Сторінка діагностування</h1>
    <div class="text">
        <p>Тут ви можете дізнатись вашу потенційну хворобу</p>
    </div>

    <h1>Введіть симптоми</h1>
    <input type="text" name="symptoms" id="symptoms">
    <button type="button" onclick="addSymptoms()">Додати</button>
    <form action="{{url_for('result.show_result')}}" method="POST" name="symptoms-form">

        <div name="content" id="content">
        </div>

        <input type="hidden" name="symptoms_input" id="symptoms_input">
        <button onclick="sendData()" type="submit" id="send-data-btn" disabled>Надіслати</button>

    </form>
</div>

<script>
    function addSymptoms() {
        // Отримати введені симптоми з поле вводу
        const symptomsInput = document.getElementById("symptoms");
        const symptoms = symptomsInput.value;

        // Створити новий елемент для відображення симптомів
        if (symptoms.length != 0) {
            const symptomElement = document.createElement("p");
            symptomElement.innerText = symptoms;

            // Отримати контейнер для відображення симптомів
            const container = document.getElementById("content");

            // Додати новий елемент з симптомами до контейнера
            container.appendChild(symptomElement);

            // Очистити поле вводу
            symptomsInput.value = "";

            // Змінити стан кнопки надіслати
            const sendBtn = document.getElementById("send-data-btn");
            sendBtn.disabled = false;
        }
    }

    function sendData() {
        const symptomsList = document.getElementById("content").childNodes;
        const symptomsArray = [];
        for (let i = 0; i < symptomsList.length; i++) {
            symptomsArray.push(symptomsList[i].textContent);
        }

        const symptomsInput = document.getElementById("symptoms_input");
        symptomsInput.value = JSON.stringify(symptomsArray)
        document.forms["symptoms-form"].submit();

    }

</script>

{% endblock %}