{%extends "base2.html"%}
{%block contents%}
<div class="container-about">
    <div class="created-by">
        <h2 class="about">CREATED BY</h2>
        <p>A web-oriented system for diagnosing diseases was created by a student of KHNS-42 for a diploma thesis.</p>
    </div>
    <div class="about">
        <h2 class="about">ABOUT</h2>

        <p>
            The web system for diagnosing diseases is a unique project that allows you to find out a potential disease
            without the need to go to the hospital. The system analyzes the symptoms provided by the client, his gender
            and age, and, based on this, diagnoses the potential disease.
            In addition to convenience and ease for customers, this project has prospects to become a faithful assistant
            to doctors, which will reduce the percentage of incorrect diagnoses, because the diagnosis issued by the
            machine will not depend on the number of hours of sleep, the mood of the diagnostician and weather
            conditions that can affect his concentration. In the case of the web system, everything comes down to
            mathematical calculations, which, as practice shows, are much more accurate than people's guesses. Using a
            web-based system can also help reduce the burden on medical staff, allowing them to focus on more complex
            cases.
            In addition, a web-based diagnostic system can pave the way for the collection and analysis of large amounts
            of health data. The collected data can be used to discover new relationships between symptoms, diseases and
            risk factors.
            In general, a web-based disease diagnosis system can become an important tool that combines the power of the
            Internet and medicine to improve the quality of diagnosis and treatment.
        </p>
    </div>

    <div class="additional-info">
        <p>
        <h2 class="about">ADDITIONAL INFO</h2>
        A special algorithm has been written for the system, which allows diagnosing the disease with additional
        accuracy. A selection of diseases that are best suited for automation has been created.
        </p>

    </div>

</div>

{%endblock%}