{%extends "base2.html"%}
{%block contents%}
<div class="container">
    <div class="upper_part">
        <div class="container_element">
            <H2>Get a diagnosis</H2>
            <p> Specially developed algorithm to determine the disease</p>
            <button class="btn-main-page" value="Continue">Continue</button>
        </div>
        <div class=" container_element">
            <H2>About us</H2>
            <p>Some information about our company</p>
            <button class="btn-main-page" value="Continue">Continue</button>
        </div>

        <div class="container_element">
            <H2>List of diseases</H2>
            <p>Here you can see all about diseases.</p>
            <button class="btn-main-page" value="Continue">Continue</button>
        </div>

    </div>
    <div class="bottom_part">
        <div class="container_element">
            <H2>Your history of diseases</H2>
            <p>Here you can see the history of your diseases</p>
            <button class="btn-main-page" value="Continue">Continue</button>
        </div>
        <div class="container_element">
            <H2>Our contacts</H2>
            <p>Here you can contact us</p>
            <button class="btn-main-page" value="Continue">Continue</button>
        </div>
        <div class="container_element">
            <H2>Additional functions</H2>
            <p>Some extra functions are here</p>
            <button class="btn-main-page" value="Continue">Continue</button>
        </div>
    </div>
</div>
{% endblock%}