{%extends "base2.html"%}
{%block contents%}
<div class="container">
    <div class="upper_part">
        <div class="container_element">
            <H2>Вірусні захворювання</H2>
            <p>Якшо ви хочете визначити цей тип хвороби - вам сюди</p>
            <button class="btn" value="Продовжити" ">Продовжити</button>
        </div>
        <div class=" container_element">
                <H2>Вірусні захворювання</H2>
                <p>Якшо ви хочете визначити цей тип хвороби - вам сюди</p>
                <button class="btn" value="Продовжити">Продовжити</button>
        </div>

        <div class="container_element">
            <H2>Вірусні захворювання</H2>
            <p>Якшо ви хочете визначити цей тип хвороби - вам сюди</p>
            <button class="btn" value="Продовжити">Продовжити</button>
        </div>

    </div>
    <div class="bottom_part">
        <div class="container_element">
            <H2>Вірусні захворювання</H2>
            <p>Якшо ви хочете визначити цей тип хвороби - вам сюди</p>
            <button class="btn" value="Продовжити">Продовжити</button>
        </div>
        <div class="container_element">
            <H2>Вірусні захворювання</H2>
            <p>Якшо ви хочете визначити цей тип хвороби - вам сюди</p>
            <button class="btn" value="Продовжити">Продовжити</button>
        </div>
        <div class="container_element">
            <H2>Вірусні захворювання</H2>
            <p>Якшо ви хочете визначити цей тип хвороби - вам сюди</p>
            <button class="btn" value="Продовжити">Продовжити</button>
        </div>
    </div>
</div>
{% endblock%}