{%extends "base3.html"%}

{%block contents%}
<div class="container">
    <p>
    <h1 align="center">Users editing page</h1>
    </p>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Diseases</h2>
                </div>
                <div class="col-sm-6 text-right">
                    <button type="button" class="add btn btn-info add-new" data-id="new"><i class="fa fa-plus"></i>
                        Add New</button>
                </div>
            </div>
        </div>
        <div class='btn btn-info' id="displaymessage" style="display:none;width:100%;margin-top:10px;"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Disease</th>
                    <th>Description</th>
                    <th>Treatment</th>
                    <th>Symptoms</th>
                    <th>Multiplier</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in diseases %}
                <tr>
                    <td>{{row.name}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.treatment}}</td>
                    <td>{{row.symptoms}}</td>
                    <td>{{row.multipliers}}</td>
                    <td>
                        <a class="add" title="add" data-toggle="tooltip" id="{{ row.email }}"><i
                                class="fa fa-user-plus"></i></a>
                        <a class="edit" title="edit" data-toggle="tooltip" id="{{ row.email }}"><i
                                class="fa fa-pencil"></i></a>
                        <a class="delete" title="delete" data-toggle="tooltip" id="{{ row.email }}"><i
                                class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).on("click", ".edit", function () {
            var row = $(this).closest("tr");
            var disease = row.find("td:eq(0)").text();
            var description = row.find("td:eq(1)").text();
            var treatment = row.find("td:eq(2)").text();
            var symptoms = row.find("td:eq(3)").text();
            var multiplier = row.find("td:eq(4)").text();

            var input = $(this).parents("tr").find('input[type="text"]');
            input.each(function () {
                if (!$(this).val()) {
                    $(this).addClass("error");
                    empty = true;
                } else {
                    $(this).removeClass("error");
                }
            });

            row.find("td:eq(0)").html(`<input type="text" name="disease" class="form-control" value="${disease}" required>`);
            row.find("td:eq(1)").html(`<input type="text" name="description" class="form-control" value="${description}" required>`);
            row.find("td:eq(2)").html(`<input type="text" name="treatment" class="form-control" value="${treatment}" required>`);
            row.find("td:eq(3)").html(`<input type="text" name="symptoms" class="form-control" value="${symptoms}" required>`);
            row.find("td:eq(4)").html(`<input type="text" name="multiplier" class="form-control" value="${multiplier}" required>`);

            $(this).removeClass("edit").addClass("save").attr("title", "Save").find("i").removeClass("fa-pencil").addClass("fa-save");
        });

        $(document).on("click", ".save", function () {
            var row = $(this).closest("tr");
            var disease = row.find("td:eq(0) input").val();
            var description = row.find("td:eq(1) input").val();
            var treatment = row.find("td:eq(2) input").val();
            var symptoms = row.find("td:eq(3) input").val();
            var multiplier = row.find("td:eq(4) input").val();

            row.find("td:eq(0)").text(disease);
            row.find("td:eq(1)").text(description);
            row.find("td:eq(2)").text(treatment);
            row.find("td:eq(3)").text(symptoms);
            row.find("td:eq(4)").text(multiplier);

            $.post('/update_diseases', { disease: disease, description: description, treatment: treatment, symptoms: symptoms, multiplier: multiplier }, function (data) {
                $("#displaymessage").html(data);
                $("#displaymessage").show();
                if (data === "Update successful") {
                    // Perform any necessary actions after successful update
                }
            });

            $(this).removeClass("save").addClass("edit").attr("title", "Edit").find("i").removeClass("fa-save").addClass("fa-pencil");
        });

        $(document).on("click", ".delete", function () {
            var row = $(this).closest("tr");
            var disease = row.find("td:eq(0)").text();
            // Perform delete operation using disease value

            $.post('/delete', { disease: disease }, function (data) {
                $("#displaymessage").html(data);
                $("#displaymessage").show();
                if (data === "Delete successfully") {
                    row.remove();
                }
            });
        });

        var newRowTemplate = `
        <tr>
            <td><input type="text" name="disease" class="form-control" placeholder="Enter disease" required></td>
            <td><input type="text" name="description" class="form-control" placeholder="Enter description" required></td>
            <td><input type="text" name="treatment" class="form-control" placeholder="Enter treatment" required></td>
            <td><input type="text" name="symptoms" class="form-control" placeholder="Enter symptoms" required></td>
            <td><input type="text" name="multiplier" class="form-control" placeholder="Enter multiplier" required></td>
            <td>
                <a class="add" title="Add" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a>
                <a class="save" title="Save" data-toggle="tooltip"><i class="fa fa-save"></i></a>
                <a class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>`;

        $(document).on("click", ".add-new", function () {
            var tableBody = $("table tbody");
            tableBody.append(newRowTemplate);
        });
    });

</script>

{%endblock%}