{% extends "base3.html" %}

{% block contents %}
<div class="container">
    <p>
    <h1 align="center">Diseases Editing Page</h1>
    </p>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Diseases</h2>
                </div>
                <div class="col-sm-6 text-right">
                    <button type="button" class="add btn btn-info add-new" data-id="new"><i class="fa fa-plus"></i>
                        Add New</button>
                </div>
            </div>
        </div>
        <div class='btn btn-info' id="displaymessage" style="display:none;width:100%;margin-top:10px;"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Disease</th>
                    <th>Description</th>
                    <th>Treatment</th>
                    <th>Symptoms</th>
                    <th>Disease picture</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for row in diseases %}
                <tr>
                    <td>{{row.name}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.treatment}}</td>
                    <td>{{row.symptoms}}</td>
                    <td>{{row.disease_picture}}</td>
                    <td>
                        <a class="add" title="add" data-toggle="tooltip" id="{{ row.name }}"><i
                                class="fa fa-user-plus"></i></a>
                        <a class="edit" title="edit" data-toggle="tooltip" id="{{ row.name }}"><i
                                class="fa fa-pencil"></i></a>
                        <a class="delete" title="delete" data-toggle="tooltip" id="{{ row.name }}"><i
                                class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="descriptionModalLabel">Enter Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="diseaseDescription" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-description">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="treatmentModal" tabindex="-1" role="dialog" aria-labelledby="treatmentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="treatmentModalLabel">Enter Treatment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="diseaseTreatment" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-treatment">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="symptomsModal" tabindex="-1" role="dialog" aria-labelledby="treatmentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="treatmentModalLabel">Choose symptoms</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    {% for row in symptoms %}
                    <div class="form-check">
                        <input class="form-check-input symptom-checkbox" type="checkbox" name="selectedSymptoms"
                            value="{{ row.name }}">
                        <label class="form-check-label" for="symptom{{ loop.index }}">{{ row.name }}</label>
                    </div>
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-symptoms">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", ".description-btn", function () {
            var disease = $(this).attr('id');
            $("#descriptionModal").modal('show');
            $(".save-description").click(function () {
                var description = $("#diseaseDescription").val();
                $("#" + disease).closest("tr").find("td:nth-child(2)").text(description);
                $("#descriptionModal").modal('hide');

            });
        });

        $(document).on("click", ".treatment-btn", function () {
            var disease = $(this).attr('id');
            $("#treatmentModal").modal('show');
            $(".save-treatment").click(function () {
                var treatment = $("#diseaseTreatment").val();
                $("#" + disease).closest("tr").find("td:nth-child(3)").text(treatment);
                $("#treatmentModal").modal('hide');
            });
        });
        $(document).on("click", ".symptoms-btn", function () {
            var disease = $(this).attr('id');
            var symptomsCell = $("#" + disease).closest("tr").find("td:nth-child(4)");

            $("#symptomsModal").modal('show');

            $("#symptomsModal .save-symptoms").click(function () {
                var selectedSymptoms = getSelectedSymptoms();
                symptomsCell.text(selectedSymptoms.join(', '));
                $("#symptomsModal").modal('hide');
            });
        });

        $(document).on("change", ".picture-input", function () {
            var row = $(this).closest("tr");
            var pictureCell = row.find("td:eq(4)");
            var pictureBtn = pictureCell.find("button.picture-btn");
            var file = this.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                var photoUrl = reader.result;
                pictureCell.find("img").attr("src", photoUrl);

                var formData = new FormData();
                formData.append('avatar', file);
                formData.append('disease', row.find("td:eq(0) input").val());

                $.ajax({
                    url: '/update_diseases_picture',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            };

            if (file) {
                reader.readAsDataURL(file);
                picture = file.name; // Store the file name in the 'picture' variable
                pictureBtn.text(file.name); // Set the button text to the file name
            } else {
                picture = ""; // Reset the 'picture' variable if no file selected
                pictureBtn.text("Choose Picture"); // Reset the button text if no file selected
            }
        });



        function getSelectedSymptoms() {
            var selectedSymptoms = [];
            $("#symptomsModal .symptom-checkbox:checked").each(function () {
                selectedSymptoms.push($(this).val());
            });
            return selectedSymptoms;
        }






        $(document).on("click", ".edit", function () {
            var row = $(this).closest("tr");
            var disease = row.find("td:eq(0)").text();
            var description = row.find("td:eq(1)").text(); // Отримати значення з рядка "description"
            var treatment = row.find("td:eq(2)").text();
            var symptoms = row.find("td:eq(3)").text();
            var picture = row.find("td:eq(4)").text();

            // Оновити модальне вікно зі значенням "description"
            $("#diseaseDescription").val(description);
            $("#diseaseTreatment").val(treatment); // Оновити текстове поле модального вікна зі значенням "description"
            $("#diseaseSymptoms").val(symptoms);

            row.find("td:eq(0)").html(`<input type="text" name="disease" class="form-control" value="${disease}" required>`);
            row.find("td:eq(1)").html(`<button class="btn btn-info description-btn" data-toggle="modal" data-target="#descriptionModal">${description}</button>`);
            row.find("td:eq(2)").html(`<button class="btn btn-info treatment-btn" data-toggle="modal" data-target="#treatmentModal">${treatment}</button>`);
            row.find("td:eq(3)").html(`<button class="btn btn-info symptoms-btn" data-toggle="modal" data-target="#symptomsModal">${symptoms}</button>`);
            row.find("td:eq(4)").html(`<input type="file" class="form-control picture-input" accept="image/*">`);
            $(this).removeClass("edit").addClass("save").attr("title", "Save").find("i").removeClass("fa-pencil").addClass("fa-save");
        })
        $(document).on("click", ".save", function () {
            var row = $(this).closest("tr");
            var descriptionCell = row.find("td:eq(1)");
            var descriptionBtn = descriptionCell.find("button.description-btn");
            var description = $("#diseaseDescription").val();
            var treatmentCell = row.find("td:eq(2)");
            var treatmentBtn = treatmentCell.find("button.treatment-btn");
            var treatment = $("#diseaseTreatment").val();
            var symptomsCell = row.find("td:eq(3)");
            var symptomsBtn = symptomsCell.find("button.symptoms-btn");
            var selectedSymptoms = getSelectedSymptoms();
            var symptoms = selectedSymptoms.join(',');
            var pictureCell = row.find("td:eq(4)");
            var pictureInput = row.find("td:eq(4) input.picture-input");

            var file = pictureInput[0].files[0];
            var picture = file ? file.name : ""; // Get the file name or set it to an empty string if no file selected

            descriptionBtn.replaceWith(description);
            treatmentBtn.replaceWith(treatment);
            symptomsBtn.replaceWith(symptoms);
            pictureCell.text(picture); // Set the text content of the picture cell to the file name

            $("#symptomsModal .symptom-checkbox").prop('checked', false);

            $("#descriptionModal input").val('');
            $("#descriptionModal textarea").val('');
            $("#treatmentModal input").val('');
            $("#treatmentModal textarea").val('');

            var diseaseInput = row.find("td:eq(0) input");
            var disease = diseaseInput.val();
            diseaseInput.replaceWith(disease);

            // Reset the picture input value
            pictureInput.val('');

            $.post('/update_diseases', { disease: disease, description: description, treatment: treatment, symptoms: symptoms }, function (data) {

                if (data === "Updated successfully") {
                    $("#displaymessage").html(data);
                    $("#displaymessage").show();
                }
            });

            $(this).removeClass("save").addClass("edit").attr("title", "Edit").find("i").removeClass("fa-save").addClass("fa-pencil");
        });

        $(document).on("click", ".delete", function () {
            var row = $(this).closest("tr");
            var disease = row.find("td:eq(0)").text();
            // Perform delete operation using disease value

            $.post('/delete_diseases', { disease: disease }, function (data) {
                $("#displaymessage").html(data);
                $("#displaymessage").show();
                if (data === "Deleted successfully") {
                    row.remove();
                }
            });
        });

        // Event listener for the "Add New" button
        // Event listener for the "Add New" button
        $(document).on("click", ".add-new", function () {
            // Create a new row for user data input
            var newRow = document.createElement("tr");

            // Create HTML markup for the new row
            newRow.innerHTML = `
            <td><input type="text" name="disease" id="disease" class="form-control disease-input" placeholder="Enter disease" required></td>
            <td><button class="btn btn-info description-btn" data-toggle="modal" data-target="#descriptionModal">Open Modal</button></td>
            <td><button class="btn btn-info treatment-btn" data-toggle="modal" data-target="#treatmentModal">Open Modal</button></td>
            <td><button class="btn btn-info symptoms-btn" data-toggle="modal" data-target="#symptomsModal">Open Modal</button></td>
            <td><input type="file" class="form-control picture-input" accept="image/*"></td>

            <td>
                <a class="add" title="add" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a>
                <a class="save" title="save" data-toggle="tooltip"><i class="fa fa-save"></i></a>
                <a class="delete" title="delete" data-toggle="tooltip"><i class="fa fa-trash-o"></i></a>
            </td>`;

            $(document).on("click", ".save-description", function () {
                // Close the modal window
                $("#descriptionModal").modal("hide");
            });

            $(document).on("click", ".save-treatment", function () {
                // Close the modal window
                $("#treatmentModal").modal("hide");
            });
            $(document).on("click", ".save-symptoms", function () {
                // Close the modal window
                $("#symptomsModal").modal("hide");


            });

            // Change the edit button to the save button
            $(newRow).find(".save").on("click", function () {
                var row = $(this).closest("tr");
                var descriptionCell = row.find("td:eq(1)");
                var descriptionBtn = descriptionCell.find("button.description-btn");
                var description = $("#diseaseDescription").val(); // Get the value from the text area
                var treatmentCell = row.find("td:eq(2)");
                var treatmentBtn = treatmentCell.find("button.treatment-btn");
                var treatment = $("#diseaseTreatment").val();
                var symptomsCell = row.find("td:eq(3)");
                var symptomsBtn = symptomsCell.find("button.symptoms-btn");
                var selectedSymptoms = getSelectedSymptoms();
                var symptoms = selectedSymptoms.join(',');
                var pictureCell = row.find("td:eq(4)");
                var pictureInput = row.find("td:eq(4) input.picture-input");

                var file = pictureInput[0].files[0];
                var picture = file ? file.name : "";
                pictureCell.text(picture); // Set the text content of the picture cell to the file name

                pictureInput.val('');

                descriptionBtn.replaceWith(description);
                treatmentBtn.replaceWith(treatment);
                symptomsBtn.replaceWith(symptoms);
                $("#symptomsModal .symptom-checkbox").prop('checked', false);
                $("#descriptionModal input").val('');
                $("#descriptionModal textarea").val('');
                $("#treatmentModal input").val('');
                $("#treatmentModal textarea").val('');



                var row = $(this).closest("tr");
                var disease = row.find("td:eq(0) input").val();

                row.find("td:eq(0)").text(disease);


                $.post('/add_diseases', { disease: disease, description: description, treatment: treatment, symptoms: symptoms }, function (data) {
                    if (data === "Disease already exists") {
                        $("#displaymessage").html(data);
                        $("#displaymessage").show();
                        deleteRow(newRow);
                    } else {
                        $("#displaymessage").html(data);
                        $("#displaymessage").show();
                    }
                }).fail(function () {
                    // Handle error cases for the AJAX request
                    console.error("An error occurred during the POST request.");
                });

                row.find(".delete").on("click", function () {
                    row.remove();
                });
            });

            // Get the table and add the new row
            var tableBody = document.querySelector("tbody");
            tableBody.appendChild(newRow);
        });

        // Function to delete a row
        function deleteRow(row) {
            var parentRow = row.parentNode;
            parentRow.removeChild(row);
        }
    });
</script>
{% endblock %}